In [ ]:
# Data pipeline for Amazon Customer Review Analysis

from pyspark.sql import SparkSession

# Reading the cleaned data from AWS S3

# Create a Spark session with Hadoop AWS dependencies
spark = SparkSession.builder \
    .appName("ReadParquetFromS3") \
    .config("spark.jars.packages",
            "org.apache.hadoop:hadoop-aws:3.3.1,"
            "com.amazonaws:aws-java-sdk-bundle:1.12.262") \
    .getOrCreate()

spark._jsc.hadoopConfiguration().set("fs.s3a.access.key", "AKIAWRSNL5JLEAVAYRDC")
spark._jsc.hadoopConfiguration().set("fs.s3a.secret.key", "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")
spark._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "s3.amazonaws.com")

df_cleaned = spark.read.parquet("s3a://reviewwanalysisbucket/cleaned_review/")
df_cleaned.show()  # Display the DataFrame

+-----------+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+-----+-----------------+--------------------+--------------------+-----------+------------+----------+
|review_date|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes| vine|verified_purchase|     review_headline|         review_body|review_year|review_month|review_day|
+-----------+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+-----+-----------------+--------------------+--------------------+-----------+------------+----------+
| 1995-08-07|         us|   53096398| r61vuubxyt6el|042510107X|   3.4724671E7|    red storm rising|           books|          5|            0|          1|false|            false|the single best m...|red storm rising ...|       1995|           8|         7|
| 1995-09-29|         us|   53094816| rt94spz5chlk6| 133627659|  3.20981057E8|criminal justice ...|           books|          5|            6|          7|false|            false|excellent intro t...|this book is used...|       1995|           9|        29|
| 1995-11-11|         us|   53096485|  r87vutmfoe6n|B000002OTL|  8.77615083E8|pulp fiction musi...|           music|          5|            0|          1|false|            false|pulp fiction soun...|pulp fiction the ...|       1995|          11|        11|
| 1995-06-24|         us|   53096571|r34n4qwdxx58wb| 870210092|        4.43E8|arming and fittin...|           books|          4|           12|         13|false|            false|good enough to un...|nice diags lucid ...|       1995|           6|        24|
| 1995-11-21|         us|   53095692| rqr7102oerfle| 553299077|   8.7417247E7|the face of the w...|           books|          5|            0|          0|false|            false|would have made a...|one of agbergs be...|       1995|          11|        21|
| 1995-08-09|         us|   53052813|r2vrnk6wsqqa5o| 881790338|  3.62312407E8|the elements of t...|           books|          5|            0|          1|false|            false|      very good book|pleasent to view ...|       1995|           8|         9|
| 1995-10-14|         us|   53096531|r2rp47p8nv0v9d|1563891867|  4.46371423E8|the big book of c...|           books|          4|            2|          2|false|            false|have you looked o...|the latest in quo...|       1995|          10|        14|
| 1995-07-24|         us|   53096358|r12q0wb95gucti| 394757688|  8.49452523E8|    the long goodbye|           books|          5|            0|          0|false|            false|this book is fabu...|this was the firs...|       1995|           7|        24|
| 1995-10-24|         us|   53096033|r1dm07xajlei5m|078686043X|  2.38795097E8|the beardstown la...|           books|          5|            2|          9|false|            false|excellent book fo...|i just started an...|       1995|          10|        24|
| 1995-11-19|         us|   53095695| r9tjbunjx6d8k|038794284X|  3.29995254E8|introduction to g...|           books|          4|            1|          3|false|            false|an excellent book...|though it is an e...|       1995|          11|        19|
| 1995-06-24|         us|   53096571| rhl4uw17zk72a| 521314925|        9.81E8|invention and evo...|           books|          5|            9|          9|false|            false|       buy this book|this is a beautif...|       1995|           6|        24|
| 1995-10-24|         us|   53095936| r46rvpxpteuvm| 517702258|  9.44860236E8|tom the unknown t...|           books|          5|            3|          3|false|            false|an outstanding bi...|quottomquot by ly...|       1995|          10|        24|
| 1995-10-11|         us|   53088511|r1fbupp1tixxyd|038547525X|  7.66193328E8|the great game of...|           books|          5|            3|          4|false|            false|the best business...|great game of bus...|       1995|          10|        11|
| 1995-11-03|         us|   53095862|r2p3ps223qk7eb| 449902242|  2.70954632E8|healthy sleep hab...|           books|          5|            1|          1|false|            false|     changed my life|my 8 month old so...|       1995|          11|         3|
| 1995-11-08|         us|   53096008|r11zeiwyrmb3y9| 819562513|   1.1414053E8|great river the r...|           books|          5|           24|         24|false|            false|horgans masterpie...|one of the major ...|       1995|          11|         8|
| 1995-09-27|         us|   52659746|r3u5qzlwtz9rgm| 940087421|  9.84084968E8|book of fax an im...|           books|          5|            0|          0|false|            false|a must have refer...|this is without q...|       1995|           9|        27|
| 1995-10-05|         us|   51078325| r1t1fu8di97i8| 679735771|   9.2932803E7|     american psycho|           books|          5|            0|          0|false|            false|bizarre brillianc...|also known as quo...|       1995|          10|         5|
| 1995-10-30|         us|   53095502| r2goybpbingi6|  61009059|  8.30758196E8|one for the money...|           books|          5|            1|          1|false|            false|watch out grafton...|janet evanovich h...|       1995|          10|        30|
| 1995-08-09|         us|   53096585|r26jq0pmf2d7qv| 465021212|  3.54462139E8|the evolution of ...|           books|          5|            2|          5|false|            false|the book on recip...|this is one of th...|       1995|           8|         9|
| 1995-09-09|         us|   53084640|r1wxqhj53dlleu|1560548908|  2.53802911E8|         angel maker|           books|          5|            1|          2|false|            false|       great concept|this book compare...|       1995|           9|         9|
+-----------+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+-----+-----------------+--------------------+--------------------+-----------+------------+----------+
only showing top 20 rows

In [ ]:

#  Task 4: Load Data into Remote SQL Database


!pip install pymysql
import pymysql
from pyspark.sql.functions import col, count

# Function to connect to RDS MySQL
def connect_to_rds(db_host, db_name, db_user, db_password):
    conn = pymysql.connect(
        host=db_host,
        user=db_user,
        password=db_password,
        database=db_name
    )
    return conn

# Function to insert data into RDS MySQL
def insert_data_to_rds(df_cleaned, conn):
    cursor = conn.cursor()

    # Convert the Spark DataFrame to a Pandas DataFrame
    df_pandas = df_cleaned.toPandas()

    # Insert each row into MySQL (adjust the query to fit your table structure)
    for index, row in df_pandas.iterrows():
        cursor.execute("""
            INSERT INTO review (review_date, marketplace, customer_id,review_id,product_id,product_parent,
product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_year,review_month,review_day)
VALUES (%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s)
        """, (row['review_date'], row['marketplace'], row['customer_id'],row['review_id'],
                   row['product_id'],row['product_parent'],row['product_title'],row['product_category'],
                   row['star_rating'],row['helpful_votes'],row['total_votes'],row['vine'],row['verified_purchase'],
                   row['review_headline'],row['review_body'],row['review_year'],row['review_month'],row['review_day']))

# Commit the transaction
    conn.commit()
    print(f"Data successfully loaded into RDS MySQL.")
    cursor.close()

# Example usage: Insert data into RDS MySQL
db_host = "sathya-database.cze8skuewczh.ap-south-1.rds.amazonaws.com"
db_name = "reviewdatabase"
db_user = "admin"
db_password = "admin123"

conn = connect_to_rds(db_host, db_name, db_user, db_password)
insert_data_to_rds(df_cleaned, conn)

# Close the connection
conn.close()

Requirement already satisfied: pymysql in /usr/local/lib/python3.11/dist-packages (1.1.1)
Data successfully loaded into RDS MySQL.

In [ ]:
# Top 10 Products with the Most Reviews
#   ○ Task: Query the product review counts.
#   ○ Outcome: Identify the products with the highest number of reviews.

from sqlalchemy import create_engine
import pandas as pd

# RDS connection parameters
host = 'sathya-database.cze8skuewczh.ap-south-1.rds.amazonaws.com'
port = 3306
username = 'admin'
password = 'admin123'
database = 'reviewdatabase'

# Create the connection string
connection_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Query data
query ="""
  select product_id, count(review_id) as review_count
  from review
  group by product_id
  order by review_count desc
 limit 10;"""
df = pd.read_sql(query, engine)

# Display the data
print(df)

   product_id  review_count
0  042510107X             1
1   133627659             1
2  B000002OTL             1
3   870210092             1
4   553299077             1
5   881790338             1
6  1563891867             1
7   394757688             1
8  078686043X             1
9  038794284X             1

In [ ]:
# The Average Review Ratings Per Month for Each Product
#   ○ Task: Calculate the average star rating per month for each product.
#   ○ Outcome: Understand the trend in average ratings over time for different products.

query = """
  select review_month, avg(star_rating)
  from review
  group by review_month
  order by review_month;"""

df = pd.read_sql(query, engine)

# Display the DataFrame
print(df)

   review_month  avg(star_rating)
0             6            4.5000
1             7            4.6522
2             8            4.8421
3             9            4.8519
4            10            4.4889
5            11            4.5294

In [ ]:
# The Total Number of Votes Per Product Category
#   ○ Task: Aggregate the total votes per product category.
#   ○ Outcome: Identify the most popular product categories based on total votes.

query = """
  select product_category, sum(total_votes) as total_votes
  from review
  group by product_category
  order by total_votes desc;"""

df = pd.read_sql(query, engine)

# Display the DataFrame
print(df)

  product_category  total_votes
0            books        885.0
1            video          2.0
2            music          1.0

In [ ]:
# Products with the Word "Awful" Occurring Most Frequently in Reviews
#   ○ Task: Identify products with the most mentions of the word "awful" in their reviews.
#   ○ Outcome: Understand customer sentiment towards products associated with the word "awful".

from sqlalchemy import text
query = text("""select product_id, count(*) as awful_count
                from review
                where review_body like '%awful%'
                group by product_id
                order by awful_count desc;""")
df = pd.read_sql(query, engine)

# Display the DataFrame
print(df)

Empty DataFrame
Columns: [product_id, awful_count]
Index: []

In [ ]:
# Same Query for the Word "Awesome" Instead of "Awful"
#   ○ Task: Identify products with the most mentions of the word "awesome".
#   ○ Outcome: Understand customer sentiment towards products associated with the word "awesome".

from sqlalchemy import text
query = text("""select product_id, count(*) as awesome_count
                from review
                where review_body like '%awesome%'
                group by product_id
                order by awesome_count desc;""")
df = pd.read_sql(query, engine)

# Display the DataFrame
print(df)

  product_id  awesome_count
0  441552803              1

In [ ]:
# Find the Most Controversial Reviews (High Total Votes but Low Helpful Votes Percentage)
#   ○ Task: Find reviews with high total votes but low helpful votes percentage.
#   ○ Outcome: Identify reviews that are highly voted but not considered helpful by users.

query = """
  select review_id, total_votes, helpful_votes,(helpful_votes / total_votes) * 100 as helpful_votes_percentage
  from review
  where total_votes>20
  order by total_votes desc;"""

df = pd.read_sql(query, engine)

# Display the DataFrame
print(df)

         review_id  total_votes  helpful_votes  helpful_votes_percentage
0   r1dz6kx3swkfk2           47             45                   95.7447
1   r2qyf10jpwp7bn           35             32                   91.4286
2   r3rrc9zelzt51b           33             13                   39.3939
3   r117gb0univgv9           33             33                  100.0000
4   r3t9se8i5e95sv           33             33                  100.0000
5   r2ys7nyuyewwn0           29             26                   89.6552
6   r33hoj2owjidqi           27             27                  100.0000
7   r3ij91hhiwff81           25             24                   96.0000
8   r11zeiwyrmb3y9           24             24                  100.0000
9   r33yniwsom4fxt           22             22                  100.0000
10   rx0rncq5xx279           22             18                   81.8182

In [ ]:
# Most Commonly Reviewed Product Per Year
#   ○ Task: Identify the most reviewed products per year.
#   ○ Outcome: Identify product popularity trends over time.

query = """
  select product_id, review_year, count(*) as review_count
  from review
  group by product_id, review_year
  order by review_count desc;"""

df = pd.read_sql(query, engine)


# Display the DataFrame
print(df)

     product_id  review_year  review_count
0    042510107X         1995             1
1     133627659         1995             1
2    B000002OTL         1995             1
3     870210092         1995             1
4     553299077         1995             1
..          ...          ...           ...
145   679763996         1995             1
146   441023622         1995             1
147  1852423269         1995             1
148   441490557         1995             1
149   140143459         1995             1

[150 rows x 3 columns]

In [ ]:
# Find Users Who Wrote the Most Reviews
#   ○ Task: Identify the users who wrote the most reviews.
#   ○ Outcome: Recognize the most active reviewers in the dataset.

query = """
  select customer_id, count(review_id) as review_count
  from review
  group by customer_id
  order by review_count desc limit 10;"""

df = pd.read_sql(query, engine)

# Display the DataFrame
print(df)

   customer_id  review_count
0     53096008             8
1     52948753             6
2     53096149             3
3     53004137             3
4     53096582             3
5     53084640             2
6     51747709             2
7     53095838             2
8     51905519             2
9     53096091             2